/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  padding: var(--padding);

  background-image: url(../images/cover-image-light.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-color);
}

.decorated-zone {
  --header-corner-color: var(--text-color);

  position: relative;

  display: grid;

  inline-size: 100%;
  min-block-size: calc(100vh - (var(--padding) * 2));
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';

  position: absolute;

  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  inset-block-start: 0;
  inset-inline-end: 0;

  border-block-start: 1px solid var(--header-corner-color);
  border-inline-end: 1px solid var(--header-corner-color);
}

.decorated-zone::after {
  inset-block-end: 0;
  inset-inline-start: 0;

  border-block-end: 1px solid var(--header-corner-color);
  border-inline-start: 1px solid var(--header-corner-color);
}

.decorated-text {
  position: absolute;

  display: none;
  gap: 10px;
  align-items: center;

  inset-inline-end: 9px;
  inset-block-start: 0;

  color: var(--accent-color);
  font-size: inherit;
  line-height: 139%;
}

.decorated-text::before {
  content: 'REC';
}

.decorated-text::after {
  content: '';

  inline-size: 9px;
  block-size: 9px;

  background-color: currentColor;
  border-radius: 50%;

  box-shadow: 0px 0px 4px 2px currentColor;
}

.title {
  --text-color: var(--header-color);
  --shadow-color: var(--accent-color);

  font-family: 'IBM Plex mono', sans-serif;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--shadow-color);
  color: var(--text-color);
  line-height: 82.5%;
}

.title-decor {
  --accent-background-text-color: var(--text-color);

  background-color: var(--accent-color);

  color: var(--accent-background-text-color);
}

.grid-container {
  display: grid;
  gap: 20px;
}

/* header */

.header {
  grid-template-rows: 1fr min-content 1fr;

  margin-block-end: calc(var(--header-and-footer-margin) + var(--padding));
}

.header__theme-menu {
  align-self: center;
  justify-self: flex-end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.header__theme-menu-button {
  --button-text-color: var(--text-color);
  --button-border-color: var(--text-color);

  padding: 3px 13px;

  border: 1px solid transparent;
  background-color: transparent;

  text-transform: lowercase;

  line-height: 100%;
  color: var(--button-text-color);
  text-align: center;

  cursor: pointer;
}

.header__theme-menu-button:hover {
  border-color: var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
}

.header__theme-menu-button:active {
  border: 1px solid var(--button-border-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-border-color);

  pointer-events: none;
}

.header__title {
  align-self: flex-start;
  justify-self: flex-start;
}

.header__description {
  inline-size: 355px;

  align-self: center;
  justify-self: flex-end;

  font-weight: 700;
}

/* content */

.content:not(:last-child) {
  margin-block-end: var(--content-margin);
}

.content__heading {
  --heading-color: var(--text-color);

  font-size: inherit;
  color: var(--heading-color);
}

.grid-container:has(.gallery),
.gallery {
  gap: var(--padding);
}

.content__list-heading {
  font-size: inherit;
}

.content__list-container .content__list-item__heading {
  font-weight: 400;
}

.content__list-item__heading {
  margin-block-end: 10px;
  font-size: inherit;
}

.content__list-item__link {
  text-shadow: 2px 2px 0 var(--accent-color);

  text-decoration: none;
  cursor: pointer;
}

.content__list-item__link:focus {
  outline: none;
}

.content__list-item__link:hover {
  text-decoration: underline;
}

.content__list-item__link:focus-visible {
  outline: 1px solid var(--text-color);
}

.content__list-item__image {
  display: block;

  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}

/* footer */

.footer {
  align-content: center;
  justify-content: center;

  margin-block-start: calc(var(--header-and-footer-margin) + var(--padding));
}

.footer__title {
  margin-block: 251px;

  text-align: center;
}

@media(width >= 768px) {
  :root {
    --header-and-footer-margin: 60px;
    --content-margin: 80px;
    --padding: 20px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    margin-inline-start: -20px;
  }

  .header__description {
    inline-size: 50%;
  }

  .column {
    grid-template-columns: fit-content(236px) 1fr;
  }

  .wide .content__heading {
    inline-size: 236px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  .long-image {
    grid-row: span 2;
  }

  .wide-image {
    grid-column: span 2;
  }
}

@media(width >= 1024px) {
  .title {
    --text-color: #ffc2e6;
    --shadow-color: #ff0070;
  }

  .header__theme-menu {
    align-self: flex-start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .column {
    grid-template-columns: fit-content(315px) 1fr;
  }

  .wide .content__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .wide .content__heading {
    inline-size: 315px;
  }
}